<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <span class="spacer center">
            <span class="logo">
                <img src="assets/5d.png" alt="Logo">
            </span>
            <div>
                <span class="title">
                    <strong>Solutions</strong>
                </span>
            </div>
        </span>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Profile
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Moments
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="pointer" (click)="show='list'">
                    Moment List</p>
                <p class="pointer" (click)="show='add-new'">Add new moment</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>

    <p>
        <mat-toolbar>
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label=" Menu">
                <mat-icon>menu</mat-icon>
            </button>

            <button mat-icon-button class="example-icon right" aria-label="Profile">
                <mat-icon>person</mat-icon>
                <mat-icon>expand_more</mat-icon>

            </button>
        </mat-toolbar>
    </p>

    <div class="sidenav-content">
        <mat-card><strong>Moments</strong></mat-card>

    </div>

</mat-drawer-container>