<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="getScreenWidth() > 480">
        <span class="spacer center">
            <span class="logo">
                <img src="assets/5d.png" alt="Logo">
            </span>
            <div>
                <span class="title">
                    <strong>Solutions</strong>
                </span>
            </div>
        </span>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Profile
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Moments
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <li class="pointer plist" (click)="show='list'" [class.backg]="show === 'list'">
                    Moment List</li>
                <li class="pointer plist" (click)="show='add-new'" [class.backg]="show === 'add-new'">Add new moment
                </li>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>

    <p>
        <mat-toolbar>
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label=" Menu">
                <mat-icon>menu</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon right" aria-label="Profile">
                <mat-icon>person</mat-icon>
                <mat-icon>expand_more</mat-icon>
                <mat-menu #menu="matMenu">
                    <button (click)="logout()" routerLink='/login' mat-menu-item>Logout &nbsp; <mat-icon>logout
                        </mat-icon> </button>
                    <!-- <button mat-menu-item>Item 2</button> -->
                </mat-menu>
            </button>
        </mat-toolbar>
    </p>

    <div class="sidenav-content">
        <app-moments-table *ngIf="show ==='list'" [momentsData]="moments"></app-moments-table>
        <app-moments *ngIf="show ==='add-new'" (added)="onAdded($event)">
        </app-moments>
    </div>

</mat-drawer-container>